*.DS_Store
*.parquet
*__pycache__/
dask-report*
.bashrc
.cmslpc-local-conf
.env/
.local/
bootstrap.sh
shell
.sites_map.json
outfiles/
*.jdl
docker_stderror
nobackup/
*.pkl
*~
*.d
*.pcm
*.so
*.npy
fitting/results/
fitting/templates/
plots/
